@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    left: 0%
    width: 12%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 0%
    width: 12%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    right: 0%
    width: 12%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left top !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  max-width: 550px !important
  padding-bottom: 0 !important
  padding-right: 0 !important
  padding-top: 0 !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: $color-terciario-t5 !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.text-end 
    text-align: left !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/

.bg-primario-p10
  background-color: $color-primario-p10
.bg-primario-p20
  background-color: $color-primario-p20
.bg-secundario-s5
  background-color: $color-secundario-s5
.bg-secundario-s10
  background-color: $color-secundario-s10
.bg-terciario
  background-color: $color-terciario
.bg-terciario-t5
  background-color: $color-terciario-t5
.bg-terciario-t20
  background-color: $color-terciario-t20
.bg-sistema-h
  background-color: $color-sistema-h

.imgw-50
  width: 50px
  margin: 0 auto
.imgw-85
  width: 85px
  margin: 0 auto
.imgw-95
  width: 95px
  margin: 0 auto
.imgw-105
  width: 105px
  margin: 0 auto
.imgw-190
  width: 190px
  margin: 0 auto

.bg-audio
  background: url('../assets/curso/common/bg-audio.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.bg-slider
  background: url('../assets/curso/common/bg-slider.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.banner-text
  position: relative
  border-radius: 10px
  padding: 20px
  margin-top: -30px
  @media screen and (min-width: $bp-min-md)
    padding: 20px 30px
    margin-top: -80px 

.tabs-a__tab
  background-color: $color-primario
  color: $color-sistema-texto !important

.tabs-a.custom-tabs
  .col-lg-4.col-xl-3
    @media screen and (min-width: $bp-min-lg)
      width: 40%
    // @media screen and (min-width: $bp-min-xl)
    //   width: 55%
  .col-lg-8.col-xl-9
    @media screen and (min-width: $bp-min-lg)
      width: 60%
    // @media screen and (min-width: $bp-min-xl)
    //   width: 45%

.linea-tiempo-d__item
  .linea-tiempo-d__item__content
    background-color: $color-primario-p20 !important
  .linea-tiempo-d__item__number
    background-color: $color-secundario-s10 !important
  
  &.linea-tiempo-d__item--selected
    .linea-tiempo-d__item__content
      background-color: $color-terciario !important
    .linea-tiempo-d__item__number
      background-color: $color-acento-botones !important

.fullwidth-bg
  display: none
  @media screen and (min-width: 768px)
    display: block
  position: relative
  z-index: 0

  &--1::after
    top: 0px
    left: -50px
    position: absolute
    content: url('../assets/curso/common/bg-1.png')

.z-2
  z-index: 2
  position: relative

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: $color-primario-p20
      h4
        color: $color-sistema-texto
  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.28rem ))
    background-color: $color-primario-p20
    font-size: 1em

.accesibilidad
  z-index: 3

.linea-tiempo-d__item__content__title
  @media screen and (max-width: $bp-min-sm)
    height: 50px !important

.tarjeta-audio
  background-color: $white
  &__texto
    color: $color-sistema-texto !important

  .tarjeta-audio__input input[type=range]
    background-color: $color-acento-contenido !important

  .audio__btn
    background-color: $color-acento-botones !important

  &__tiempo
    color: $color-sistema-texto !important

.slyder-a
  background-color: $white
  padding: 20px
  border-radius: 20px
  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: $color-acento-botones
    border-color: $color-acento-botones
  .slyder-a__bullets__item
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    @media screen and (max-width: $bp-min-sm)
      margin: 0 5px !important

.slyder-f
  align-items: center
  border-radius: 20px

  .slyder-f__main
    width: 70%

    @media (min-width: 769px)
      width: 80%
  
  .tarjeta
    inner-shadow: 1px 1px 1px 1px $color-primario-p20 !important

.slyder-f__btn
  height: 46px
  width: 46px
  max-width: 46px
  background-color: $color-acento-botones
  border-radius: 50%
  padding: 0 !important
  margin: 0 auto
  .fa-chevron-left
    font-size: 18px
  .fa-chevron-right
    font-size: 18px