@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    left: 0%
    width: 12%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 0%
    width: 12%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    right: 0%
    width: 12%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left top !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  max-width: 550px !important
  padding-bottom: 0 !important
  padding-right: 0 !important
  padding-top: 0 !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: $color-primario !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.text-end 
    text-align: left !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/

.bg-primario-p10
  background-color: $color-primario-p10
.bg-primario-p20
  background-color: $color-primario-p20
.bg-secundario-s5
  background-color: $color-secundario-s5
.bg-secundario-s10
  background-color: $color-secundario-s10
.bg-terciario
  background-color: $color-terciario
.bg-terciario-t5
  background-color: $color-terciario-t5
.bg-terciario-t20
  background-color: $color-terciario-t20

.imgw-85
  width: 85px
  margin: 0 auto
.imgw-105
  width: 105px
  margin: 0 auto

.bg-audio
  background: url('../assets/curso/common/bg-audio.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.banner-text
  position: relative
  border-radius: 10px
  padding: 20px
  margin-top: -30px
  @media screen and (min-width: $bp-min-md)
    padding: 20px 30px
    margin-top: -80px 

.tabs-a__tab
  background-color: $color-primario
  color: $color-sistema-texto !important